/*----------------------- Preloader -----------------------*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.preloader-wrapper .preloader img {
    width: 9em;
    display: none;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}

/*------------------------------- animation -------------------------------*/
.geserKeluarKiri {
    -webkit-animation-name: slideOutLeft !important;
    animation-name: slideOutLeft !important;
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
    -webkit-animation-fill-mode: both !important;
    animation-fill-mode: both !important;
}

.geserMasukKiri {
    -webkit-animation-name: slideInLeft !important;
    animation-name: slideInLeft !important;
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;;
    z-index: 1 !important;
    -webkit-animation-fill-mode: both !important;
    animation-fill-mode: both !important;

}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slideOutLeft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        visibility: hidden;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes slideOutLeft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        visibility: hidden;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.container {
    width: 100%;
}

.header-up {
    padding: 10px 36px;
    border: 1px solid #eee;
    position: fixed;
    background: #fff;
    z-index: 2;
}

.logo-up {
    width: 12em;
}

.circular--portrait {
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    border-radius: 50%;
    left: 11px;
    top: 11px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.circular--portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.content-header-right {
    text-decoration: none;
}

.header-right {
    position: absolute;
    right: 2.8em;
    top: -1px;
    padding: 11px 0;
}

.header-right ul {
    margin: -5.5px 11px;
    font-size: 1.1em;
    padding: 0;
}

.header-right ul li a {
    text-decoration: none;
}

.header-right ul li {
    display: inline-block;
}

.add-shorcut {
    padding: 10px 15px;
    border: 1px solid #eee;
    position: relative;
    bottom: 5.7px;
    font-size: 1.5em;
    left: 3px;
}

.profile-up span {
    margin-left: 33px;
}

.profile-up {
    padding: 16px 15px;
    border: 1px solid #eee;
    position: relative;
    bottom: 8.3px;
    left: -2.1px;
}

.add-sub-header:hover .content-sub-header {
    display: block;
    opacity: 1;
}

.content-sub-header {
    margin: 0 !important;
    position: absolute;
    top: 53px;
    left: -1px;
    right: -1px;
    opacity: 0;
    display: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.list-sub-header {
    display: block !important;
    border: 1px solid #eee;
    background: #fff;
    padding: 7px 7px;
    font-size: 14px;

}

.pull-right .line {
    left: 8px;
}

.pull-right .line-two {
    left: 13px;
}

.name-up {
    color: #a0abb3;
}

.header-right ul li:hover, .header-right ul li:focus {
    background: #fafafa;

}

.header-right ul li:hover > a label, .header-right ul li:hover > a label {
    webkit-filter: blur(1px);
    filter: blur(1px);
}

.header-right ul li:hover > a span, .header-right ul li:hover > a span {
    color: #585d61;
}

.menu-up {
    margin-top: 3.8em;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    height: 100%;
    background: #fff;
    position: fixed;
    z-index: 1;
    padding: 0;
}

.content-up {
    margin-top: 3.8em;
    min-height: 15em;
    padding: 0;
}

body {
    background: #fafafa;
}

.menu-content {
    padding: 3em 0 1em 0;
}

.menu-detail a {
    color: #a0abb3;
}

.menu-detail {
    border-top: 2px dashed #eee;
    border-bottom: 2px dashed #eee;
    border-right: none;
    padding: 9px 5px 9px 13px;
    position: relative;
    display: block;
    margin: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu-detail:hover a, .menu-detail.activo a {
    color: #fff;
    text-decoration: none;
}

.menu-detail:hover, .menu-detail.activo {
    /*border-top: 2px solid #585d61;*/
    /*border-bottom: 2px solid #585d61;*/
    /*border-right: 2px solid #585d61;*/
    z-index: 1;
    background: #4a4a4a;
}

.menu-detail:hover:not(.activo) {
    padding-left: 25px;
}

.add-sub-menu.activo + .content-sub-menu {

}

.add-sub-menu:after {
    content: '\F067';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    position: absolute;
    right: 13px;
    color: #a0abb3;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.add-sub-menu:after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.menu-detail:hover.add-sub-menu:after {
    color: #fff;
}

.menu-detail.activo.add-sub-menu:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    color: #fff;
}

.content-sub-menu {
    padding: 5px 14px;
    display: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.list-sub-menu:not(.activo) a:hover {
    padding-left: 10px;
    color: #585d61;
    border-bottom: 1px solid #585d61;
}

.point-dot:after {
    content: '';
    height: 8px;
    width: 8px;
    background: #585d61;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    position: absolute;
    right: 17px;
    border: transparent;
    border-radius: 8px;
    margin-top: 7px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.point-dot:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.list-sub-menu:not(.activo) a:hover.point-dot:after, .list-sub-menu.activo a.point-dot:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.list-sub-menu.activo a {
    color: #585d61;
    border-bottom: 1px solid #585d61;
}

.list-sub-menu a {
    display: block;
    padding: 3px 0px 3px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 9px;
    color: #a0abb3;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.burgers {
    position: relative;
    font-size: 1.5em;
    top: 10px;
    color: #a0abb3;
    display: none;
}

.trigger-burger {
    z-index: 2;
    background: #eee;
    opacity: 0.2;
    position: fixed !important;
    border: 1px solid #b2a4b2;
    width: fit-content;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 12px;
    font-size: 1.5em;
    top: 4em;
    left: -1px;

}

.trigger-burger:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    .menu-up {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .trigger-burger {
        -webkit-animation-name: slideOutLeft;
        animation-name: slideOutLeft;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        z-index: 1;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}

@media (max-width: 451px) {
    .add-shorcut {
        display: none !important;
    }

    .profile-up {
        bottom: 7px;
    }
}

@media (max-width: 621px) {
    .header-up {
        padding: 10px 10px;
    }

    .header-right {
        right: -14px;
    }

    .logo-up {
        width: 9em;
    }

    .add-shorcut {
        bottom: 6.7px;
        font-size: 1em;
        padding: 12px 15px;
    }

    .profile-up {
        font-size: 0.8em;
        padding: 14px 15px;

    }

    .circular--portrait {
        left: 14px;
        top: 9px;
    }

    .menu-up, .content-up {
        margin-top: 3.2em;
    }

    .content-sub-header {
        top: 45px;
    }

}

@media (max-width: 991px) {
    .menu-up {
        -webkit-animation-name: slideOutLeft;
        animation-name: slideOutLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .trigger-burger {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        z-index: 1;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .burgers {
        display: block;
    }
}

.title-content {
    padding-bottom: 5px;
}

.title-content span {
    display: inline-block;
    color: #9b9797;
}

.title-content h3 {
    display: inline-block;
    margin-right: 4px;
}

.graph {
    margin-top: 1em;
}

.box-detail h4 {
    margin: 3px 20px 18px 20px;
    font-size: 1.1em;
}

.box-detail h2 {
    margin: 17px 20px 6px 17px;
}

.box-detail .fa {
    position: absolute;
    font-size: 52px;
    top: 19px;
    right: 37px;
    -webkit-transition: all 0.5s ease !important;
    transition: all 0.5s ease !important;
}

.box-card:hover .box-detail > .fa {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.box-detail {
    border: 1px solid #eee;
    background: #fff;
    color: #a0abb3;
}

.box-footer {
    border: 1px solid #eee;
    text-align: center;
    padding: 7px 0;
    color: #fff;
    background: #a0abb3;
}

.input-group {
    z-index: 0;
}

.opsi-detail-right span {
    display: table-cell !important;
}

.opsi-detail-right select {
    display: inline-block;
}

.opsi-detail-right {
    display: inline-block;
}

.opsi-list {
    padding: 0;
}

.table {
    background: #fff;
    border: 1px solid #eee;
}

.table-register {
    top: 1em;
    overflow-x: auto;
    display: none;
}

@media (max-width: 463px) {
    .opsi-detail-right label {
        font-size: 12px !important;
    }

    .opsi-detail-right select {
        display: block;
    }
}

@media (max-width: 1199px) {
    .opsi-detail-right {
        margin: 2px 0px;
    }

    .view-trigger {
        display: none;
    }
}

/*----------------- loading magnify -----------------*/
#register-list .loading h4 {
    margin: 0;
    position: relative;
    bottom: 3px;
}

#register-list .loading img {
    width: 9em;
}

#register-list .loading {
    text-align: center;
    margin-top: 5em;
}

/*----------------- loading magnify -----------------*/

/*------------------ pagination ------------------*/
.pagination {
    margin: 0;
}

@media (max-width: 767px) {

    .pagination {
        width: 100%;
        border-radius: 0px;
    }

    .pagination > li > a, .pagination > li > span {
        width: 50%;
        display: block;
        text-align: center;
        border-radius: 0px;
        margin-left: 0px;
        border-width: 1px 0 0 1px;

    }

    .pagination.even > li:nth-child(even) > a, .pagination > li:nth-child(even) > span {
        border-right: solid 1px #DDDDDD;
    }

    .pagination.even > li:first-child > a, .pagination > li:first-child > span {
        border-radius: 4px 0px 0px 0px;
    }

    .pagination.even > li:nth-child(2) > a, .pagination > li:first-child > span {
        border-radius: 0px 4px 0px 0px;
    }

    .pagination.even > li:last-child > a, .pagination > li:last-child > span {
        border-bottom: solid 1px #DDDDDD;
        border-radius: 0px 0px 4px 0px;
    }

    .pagination.even > li:nth-last-child(2) > a, .pagination > li:nth-last-child(2) > span {
        border-bottom: solid 1px #DDDDDD;
        border-radius: 0px 0px 0px 4px;
    }


    .pagination.odd > li:nth-child(odd) > a, .pagination > li:nth-child(odd) > span {
        border-right: solid 1px #DDDDDD;
    }

    .pagination.odd > li:first-child > a, .pagination > li:first-child > span {
        border-radius: 4px 4px 0px 0px;
        border-bottom: 0px;
        width: 100%;
    }

    .pagination.odd > li:last-child > a, .pagination > li:last-child > span {
        border-bottom: solid 1px #DDDDDD;
        border-radius: 0px 0px 4px 0px;
    }

    .pagination.odd > li:nth-last-child(2) > a, .pagination > li:nth-last-child(2) > span {
        border-bottom: solid 1px #DDDDDD;
        border-radius: 0px 0px 0px 4px;
    }
}

@media (min-width: 768px) {
    .paginate {
        float: right;

        font-size: 1.3em;
    }
}

/*---------------- end pagination ----------------*/

/*----------------------- not found notice -----------------------*/
.not-found-notice h3 {
    position: relative;
    bottom: 3.5em;
}

.not-found-notice {
    display: none;
    text-align: center;
}

@media (max-width: 662px) {
    .not-found-notice h3 {
        font-size: 1.3em;
        bottom: 3.5em;
    }

    .not-found-notice img {
        width: 33em;
    }
}

@media (max-width: 473px) {
    .not-found-notice h3 {
        bottom: 2.7em;
        font-size: 1.2em;
    }

    .not-found-notice img {
        width: 21em;
    }
}

/*--------------------- end not found notice ---------------------*/

/*------------------------- error notice -------------------------*/
.error-notice h3 {
    font-size: 1.4em;
    position: relative;
    bottom: 11px;
}

.error-notice img {
    width: 17em;
    opacity: 0.7;
}

.error-notice {
    display: none;
    text-align: center;
    margin-top: 5em;
}

/*----------------------- end error notice -----------------------*/

/*-------------------------- modal full--------------------------*/
.modal-full .btn-back:hover {
    color: #269abc;
}

.modal-full .btn-back {
    float: left;
    position: relative;
    top: 5px;
    font-size: 1.6em;
    left: 12px;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
}

.modal-full > .title-modal {
    background: #fff;
    text-align: center;
    padding: 7px 0;
    display: inline-block;
}

.modal-full {
    display: none;
    z-index: 0;
    padding: 0;
}

.show-pc {
    display: block;
}

.show-tablet {
    display: none;
}

.show-hp {
    display: none;
}

@media (max-width: 673px) {
    .show-pc {
        display: none;
    }

    .show-tablet-hp {
        display: block;

    }

    .show-tablet {
        display: block;
    }

    .show-hp {
        display: none !important;
    }
}

@media (max-width: 520px) {
    .show-pc {
        display: none;
    }

    .unshow-hp {
        display: none;
    }

    .show-tablet {
        display: none;
    }

    .show-hp {
        display: block !important;
    }
}

.btn-oth:hover {
    background: #d3d3d3;
}

.btn-oth {
    background: #fff;
}

.btn-suc:hover {
    background: #2f8995;
}

.btn-suc {
    background: #3abac6;
    color: #fff;
}

.highlight-sm {
    font-size: 1.3em !important;
    top: -2px !important;
    color: #3abac6;
    font-weight: bold;
}

.highlight {
    font-size: 1.5em !important;
    color: #3abac6;
}

.add-rp:before {
    content: 'Rp ';
}

.add-rp-minum:before {
    content: '-Rp ';
}

.add-percent-minus:before {
    content: '-';
}

.add-percent-minus:after {
    content: '%';
}

.list-total h5 {
    display: inline-block;
    min-width: 157px;
    font-size: 1.2em;
    margin: 6px 0;
    margin-left: 1em;
}

.botton-option button {
    border: 1px solid #EEE;
    margin-top: 18px;
    padding: 10px 4px;
    margin-right: 9px;
    width: 10em;
    text-align: center;
}

.botton-option {
    background: rgba(255, 255, 255, 0.85);
    text-align: right;
}

.radius-bottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.radius-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 5px;
    border-top: 1px dashed #b0a7a7;
}

.detail-notice, .fill-content {
    border-bottom: 1px dashed #d5d5d5;
}

.content-fill span {
    bottom: 1px;
    position: relative;
    font-size: small;
}

.content-fill h5 {
    position: absolute;
    top: 1px;
    right: 0;
    width: 12em;
    margin: 0 6px;
    font-size: 1.2em;
    text-align: right;
}

.content-fill {
    padding: 0;
    margin: 3px 0;
}

.describ-notice .title-describ h4 {
    font-weight: bold;
}

.describ-notice .title-describ span {
    border: 1px solid #e1e3e5;
    padding: 2px 12px;
    position: absolute;
    top: 5px;
    right: 16px;
}

.describ-notice .title-describ p {
    position: absolute;
    top: 7px;
    left: 7.3em;
    font-size: 1.2em;
}

.describ-notice .title-describ {
    margin-top: 7px;
}

.card-notice {
    padding: 10px 22px 18px 22px;
}

.content-notice {
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #eee;
    margin-top: 12px;
}

.title-notice {
    border-bottom: 1px solid #eee;
}

.title-notice h4 {
    font-weight: bold;
}

.title-notice span {
    position: absolute;
    right: 22px;
    top: 20px;
    color: #3abac6;
    font-weight: bold;
}

.trans-notice-success {
    background: rgb(142, 189, 153);
    color: #302e2e;
}

.trans-notice-warning {
    background: rgb(201, 220, 135);
    color: #302e2e;
}

.trans-notice-failed {
    background: #c64757;
    color: #fff;
}
.title-notice span {
    position: absolute;
    right: 22px;
    top: 20px;
    color: #3abac6;
    font-weight: bold;
}

/*------------------------ end modal full------------------------*/

/*-------------------------- curency --------------------------*/
.add-rp:before {
    content: 'Rp';
}

/*------------------------ end curency ------------------------*/

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/*----------------------------- tr focus -----------------------------*/
tr:hover {
    background: rgba(156, 156, 156, 0.16);
}

/*--------------------------- end tr focus ---------------------------*/

/*--------------------------- modal detail tf ---------------------------*/
.img-conf, .ex-invoice {
    background: rgba(255, 255, 255, 0.85);
}

.img-conf h4 {
    margin: 12px 0 0 0;
}

.img-conf .fill-tf-info > h5 {
    font-size: 1.2em;
    position: absolute;
    right: 13px;
    display: inline-block;
    bottom: -2px;
}

.img-conf .fill-tf-info {
    border-top: 1px solid #eee;
    padding: 7px 13px;
}

.img-conf .title-tf-info {
    padding: 9px 12px 11px 12px;
}

.img-conf {
    margin: 1em 0 0 0;
    padding: 0;
    border-bottom: 1px solid #eee;
}

.bank-info, .ex-invoice {
    border-top: unset;
    cursor: pointer;
}

.ex-invoice:hover > span {
    color: #3ABAC6;
}

.ex-invoice img {
    width: 17px;
    margin-right: 6px;
}

.ex-invoice span {
    position: relative;
    top: 3px;
}

@media(max-width: 1199px){
    .content-notice{
        margin-top: 25em;
    }
}
/*------------------------- end modal detail tf -------------------------*/
/*--------------------------- modal photo tf ---------------------------*/

#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 28px;
    left: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 1;
}

#modal-container.one {
    -webkit-transform: scaleY(0.01) scaleX(0);
    transform: scaleY(0.01) scaleX(0);
    -webkit-animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one .modal-background .modal {
    padding: 15px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out .modal-background .modal {
    -webkit-animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
}

#modal-container .modal-background .modal img {
    width: 16em;
}
#modal-container .modal-background .modal {
    background: white;
    padding: 0px 20px 28px 20px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
}

#modal-container .modal-background .modal a {
    display: block;
    margin-top: 12px;
    color: #3abac6;
    cursor: pointer;
}

#modal-container .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
}

@media (min-width: 320px ) {
    #modal-container .modal-background .modal {
        width: 90%;
    }
}

@media (min-width: 481px ) {
    #modal-container .modal-background .modal {
        width: 80%;
    }
}

@media (min-width: 768px ) {
    #modal-container .modal-background .modal {
        width: 60%;
    }
}

@media (min-width: 1025px ) {
    #modal-container .modal-background .modal {
        width: 30%;
    }
}

@-webkit-keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}

@-webkit-keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}

@keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes zoomOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes zoomOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
/*------------------------- end modal photo tf -------------------------*/


/*----------------------- loading paticles ----------------------- */
#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url('/images/elipse_color_loader.svg');
    background-repeat: no-repeat;
    background-position: center;
}
/*--------------------- end loading paticles --------------------- */
