.timeline {
    list-style: none;
    margin: 25px 0 22px;
    padding: 0;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline:after {
    border: 6px solid;
    border-top-width: 13px;
    border-color: #00637d transparent transparent transparent;
    content: "";
    display: block;
    position: absolute;
    bottom: -19px;
    left: 15px;
}

.timeline-horizontal:after {
    border-top-width: 6px;
    border-left-width: 13px;
    border-color: transparent transparent transparent #00637d;
    top: 15px;
    right: 0;
    bottom: auto;
    left: auto;
}

.timeline-horizontal .timeline-milestone {
    border-top: 2px solid #00637d;
    display: inline;
    float: left;
    margin: 20px 0 0 0;
    padding: 40px 0 0 0;
}

.timeline-horizontal .timeline-milestone:before {
    top: -17px;
    left: auto;
}

.timeline-horizontal .timeline-milestone.is-completed:after {
    top: -17px;
    left: 0;
}

.timeline-milestone {
    border-left: 2px solid #00637d;
    margin: 0 0 0 20px;
    padding: 0 0 5px 25px;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-milestone:before {
    border: 7px solid #00637d;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    left: -17px;
    width: 32px;
    height: 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-milestone.is-completed:before {
    background-color: #00637d;
}

.timeline-milestone.is-completed:after {
    color: #FFF;
    content: "\f00c";
    display: block;
    font-family: "FontAwesome";
    line-height: 32px;
    position: absolute;
    top: 0;
    left: -17px;
    text-align: center;
    width: 32px;
    height: 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-milestone.is-current:before {
    background-color: #EEE;
}

.timeline-milestone.is-future:before {
    background-color: #8DACB8;
    border: 0;
}

.timeline-milestone.is-future .timeline-action .title {
    color: #8DACB8;
}

.timeline-action {
    background-color: #FFF;
    border: 1px solid #eee;
    padding: 12px 10px 12px 20px;
    position: relative;
    top: -15px;
}

.timeline-action.is-expandable .title {
    cursor: pointer;
    position: relative;
}

.timeline-action.is-expandable .title:focus {
    outline: 0;
    text-decoration: underline;
}

.timeline-action.is-expandable .title:after {
    border: 6px solid #666;
    border-color: transparent transparent transparent #666;
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
}

.timeline-action.is-expandable .content {
    display: none;
}

.timeline-action.is-expandable.is-expanded .title:after {
    border-color: #666 transparent transparent transparent;
    top: 10px;
    right: 5px;
}

.timeline-action.is-expandable.is-expanded .content {
    display: block;
}

.timeline-action .title, .timeline-action .content {
    word-wrap: break-word;
}

.timeline-action .title {
    color: #00637d;
    font-size: 18px;
    margin: 0;
}

.timeline-action .date {
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
}

.timeline-action .content {
    font-size: 14px;
}

.file-list {
    line-height: 1.4;
    list-style: none;
    padding-left: 10px;
}

#monitoring-tracking {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

.page-timeline a {
    color: #00637d;
    text-decoration: none;
}

.page-timeline a:hover, a:focus {
    text-decoration: underline;
}

.video-link:before {
    content: "\f03d";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 5px;
}

.page-timeline a[href*=".pdf"]:before {
    content: "\f0f6";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 8px;

}

.user-list-right:hover h5{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #1e6abc;
}
.user-list-right:hover img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.user-list-right.activo h5{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #1e6abc;
}
.user-list-right.activo img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.user-list-right{
    padding: 0;
    min-height: 6.7em;
    border-bottom: 1px dashed #eee;
    cursor: pointer;
}

.cover-img-right img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cover-img-right{
    padding: 0;
    height: 5em;
    overflow: hidden;
    left: 11px;
    top: 11px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.content-user-right h5{
    font-size: 1.3em;
}
.content-user-right{
    padding-left: 22px;
    top: 4px;
}

.header-card-dash .fa{
    position: absolute;
    top: 14px;
    right: 16px;
    cursor: pointer;
}
.header-card-dash h5{
    display: inline-block;
    padding-left: 0.9em;
    font-size: 1.3em;
    font-weight: bold;
}
.header-card-dash{
    background: #fff;
    border: 1px solid #eee;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    padding: 5px 0;
}

.content-card-dash{
    background: #fff;
    border: 1px solid #eee;
    padding: 16px 0px;
}

/*radar chart*/

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#chartjs-radar{
    width : 60%;
    height: 60%;
}


.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
/*radar chart*/
